
.vscode/
venv
**/__pycache__/

entity-fishing/entity-fishing/
entity-fishing/grobid/
grisp/

data/

**/*.csv
**/*.tsv
**/*.json
**/*.jsonl
**/*logs*.txt
**/*.txt
**/*.zip
**/*.xml
**/*.png
**/*.pdf

**/.ipynb_checkpoints