
.vscode/
venv
**/__pycache__/
**/node_modules/

entity-fishing/entity-fishing/
entity-fishing/entity-fishing-data/
entity-fishing/grobid/
grisp/

data/

web/frontend/build

**/*.csv
**/*.tsv
**/*.json
**/*.jsonl
**/*logs*.txt
**/*.txt
**/*.zip
**/*.xml
**/*.png
**/*.pdf

**/.ipynb_checkpoints

web/frontend/public/data