[submodule "scrape-dhs/dhs_scraper"]
	path = scrape-dhs/dhs_scraper
	url = git@github.com:dddpt/dhs-scraper.git
[submodule "entity-fishing/inception_fishing"]
	path = entity-fishing/inception_fishing
	url = git@github.com:dddpt/inception-fishing.git
[submodule "entity-fishing/CLEF_HIPE_2020_scorer"]
	path = entity-fishing/CLEF_HIPE_2020_scorer
	url = git@github.com:impresso/CLEF-HIPE-2020-scorer.git
