
.vscode/
venv
**/__pycache__/
**/node_modules/

entity-fishing/entity-fishing/
entity-fishing/entity-fishing-data/
entity-fishing/grobid/
grisp/

data/

web/frontend/build

reports/
web/
src/

**/*.csv
**/*.tsv
**/*.jsonl
**/*logs*.txt
**/*.txt
**/*.zip
**/*.xml

**/.ipynb_checkpoints