
.nlp-token-snapshot-div{
    min-height: 2.5em;
    background-color: #cfe2ff;
    border: 1px solid #b6d4fe;
    color: #084298;
    padding: 0.5em;
    border-radius: 5px;
}
.nlp-content-div{
    margin-top: 1em;
}

.nlp-labelled-token {
    border-radius: 3px;
    padding: 1px 3px 2px;
    font-weight: bold;
    /*color: #ffffff;*/
}
.nlp-active-token{
    box-shadow: 0px 3px 4px 2px #aaaaaa;
}

/*.true-negative {
    background-color: beige;
}*/


.true-positive {
    color: #0f5132;
    background-color: #d1e7dd;
}


.false-negative {
    color: #842029;
    background-color: #f0a8ae;
}


.false-positive {
    color: #990099;
    background-color: #ffccff;

}


.wrongly-predicted-positive {
    color: #664d03;
    background-color: #ffe799;
}

.relevant-field-pred{
    color: #555555;
}

/* POPOVER */

.popover-wrapper{
    position: relative;
    /*margin-top: 2.5rem;*/
    display: inline-block;
}

.popover-content {
    font-weight: normal;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -50%;/*-150px;*/
    transform: translate(0, 2em);
    background-color: white;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    min-width: 200px;
    max-width: 1000px;
}
.popover-content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover-wrapper:hover .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 1em);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}