

.language-chooser{
    width: 3em;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}


.dhs-article-info{
    margin-top:1em;
}
#dhs-article-search{
    margin-top:1em;
    margin-bottom:1em;
}

.real-dhs-article-external-link{
    height: 0.4em;
}

.dhs-article #copyright-footer{
    font-size: small;
    color: grey;
}

// TEXT LINKS



.no-text-link:hover{
    background-color: #f2f2f2;
    text-decoration: underline dashed grey;
}
.dhs-dhs-link{
}
.dhs-original-dhs-link{
    text-decoration: underline dashed;
}
.dhs-real-dhs-link{

}
.dhs-wikipedia-link{
    color: green
}
.dhs-wikidata-link{
    color: red
}

// about page
#about-content{
    padding-top: 1em;
}

#report-abstract{
    font-style: italic;
}

// navbar

#dhs-article-search{
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: row;

    input{
        margin-right: 0.5em;
        max-width: 500px;
    }
}

#ldhs-navbar{
    width:100%;
}